function Main.main 3
push constant 1
neg
pop local 1
call Player.init 0
pop temp 0
call Dialogue.innkeeper 0
call Player.setJob 1
pop temp 0
call Player.getJob 0
pop local 0
push local 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 80
call Player.setMaxHealth 1
pop temp 0
push constant 80
call Player.setHealth 1
pop temp 0
push constant 12
call Player.setAttack 1
pop temp 0
push constant 10
call Player.setAccuracy 1
pop temp 0
call Dialogue.ranger 0
pop temp 0
label IF_FALSE0
push local 0
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 120
call Player.setMaxHealth 1
pop temp 0
push constant 120
call Player.setHealth 1
pop temp 0
push constant 8
call Player.setAttack 1
pop temp 0
push constant 14
call Player.setAccuracy 1
pop temp 0
call Dialogue.warrior 0
pop temp 0
label IF_FALSE1
push local 0
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 100
call Player.setMaxHealth 1
pop temp 0
push constant 100
call Player.setHealth 1
pop temp 0
push constant 10
call Player.setAttack 1
pop temp 0
push constant 12
call Player.setAccuracy 1
pop temp 0
call Dialogue.mage 0
pop temp 0
label IF_FALSE2
call Dialogue.questHub 0
pop temp 0
push constant 0
return
